<div class="comment-section">
    <h3>Comments</h3>
    
        <div class="filteredComments"></div>
        <!-- Тук ще се показват коментарите -->
        <div class="comment">
            <p><strong>{{user?.email}}:</strong>{{content}}</p>
        </div>
        <!-- Пример за коментар -->
        <!-- <div class="comment">
            <p><strong>Jane Smith:</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div> -->
</div>
