.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: calc(33.33% - 20px); 
  margin-bottom: 20px; 
}

.product__img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  display: block; /* Промяна: Да бъде block, за да се центрира правилно */
  margin-left: auto; /* Промяна: Центриране наляво-надясно */
  margin-right: auto; /* Промяна: Центриране наляво-надясно */
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центриране на съдържанието */
}

.add-to-cart-button,
.details-button {
  width: 150px; /* Задаване на еднаква ширина за бутоните */
  padding: 10px 20px; /* Променена стойност за padding */
  margin: 10px; /* Променен отстъп на бутоните */
  flex-direction: calc(50%);
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center; /* Центриране на текста */
}

.add-to-cart-button:hover,
.details-button:hover {
  background-color: #0056b3;
}