    <!-- <div class="product"> -->
          <img src="https://vision-shop.bg/image/cache/data/photo_2020-03-22_01-36-11-600x600.jpg" class="product__img" alt="Product Image">
        <div class="product__info">
            <h2 class="product__title">{{product.title}}</h2>
            <p class="product__description">{{product.description}}</p>
            <p class="product__price">${{product.price}}</p>
            <!-- Add to Cart Button -->
            <button class="add-to-cart-button">Add to Cart</button>
            <!-- Details Button -->
            <a class="details-button">Details</a>
        </div>
    <!-- </div>    -->
