.comment-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* Подреждане на елементите вертикално */
}

.commentss {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Пълна ширина на коментарите */
}

.form-group {
  margin-top: 20px; /* Разстояние между коментарите и формата */
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%; /* Пълна ширина на полетата за въвеждане */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
