<div class="comment-section"> 
  <h3>Add Comment</h3> 
   <div class="form-group">
          <label for="userName">Your name:</label>
          <input type="text" id="userName" name="userName" placeholder="Your Name" [value]="userEmail"  disabled>
      </div>

  <form #form="ngForm" (ngSubmit)="addComentHandler(form)">
      <div class="form-group">
          <label for="commentText">Comment:</label>
          <textarea id="commentText" name="content" placeholder="Enter your comment here..." ngModel #contentInput="ngModel" maxlength="150"></textarea>
      </div>

      <button >Add Comment</button>
  </form>
</div>
