footer {
    background-color: #143dd3;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container div {
    flex: 1;
    padding: 0 10px;
}

.container h3 {
    color: #333;
}

.container p {
    color: #666;
    margin-bottom: 10px;
}

.container ul {
    list-style: none;
    padding: 0;
}

.container ul li {
    margin-bottom: 5px;
}

.container ul li a {
    text-decoration: none;
    color: #666;
}

.container ul li a:hover {
    color: #333;
}
