<div class="login">
    <a href="/login" style="text-decoration: none;">
      <div class="login__logo">
        <h2 class="login__logoTitle">eSHOP</h2>
      </div>
    </a>
  
    <div class="login__container">
      <h1>Sign-in</h1>
  
      <div class="login__form">
        <h5>E-mail</h5>
        <input type="text" name="email" />
  
        <h5>Password</h5>
        <input type="password" name="password" />
  
        <button class="login__signInButton">Sign In</button>
      </div>
  
      <p>
        By signing-in you agree to the eShop Website Conditions of Use & Sale. Please see our Privacy Notice, our Cookies Notice and our Interest-Based Ads Notice.
      </p>
  
      <div class="login__registerButton">
        <a href="/register" style="text-decoration: none; color: inherit;">Create your eShop Account</a>
      </div>
    </div>
  </div>
  
