<!-- <div class="modal-overlay" (click)="closeModal()">
    <div class="modal-container" (click)="$event.stopPropagation()">
      <h2>Edit Comment</h2>
      <form (ngSubmit)="submitEditForm()">
        <div class="form-group">
          <label for="editedContent">Edit Content:</label>
          <textarea id="editedContent" name="editedContent" [(ngModel)]="editedContent" maxlength="150"></textarea>
        </div>
        <button type="submit">Save Changes</button>
      </form>
    </div>
  </div> -->