<div class="comment-section">



  <div class="product" *ngIf="product">
    <img src="https://vision-shop.bg/image/cache/data/photo_2020-03-22_01-36-11-600x600.jpg" class="product__img"
      alt="Product Image">
    <div class="product__info">
      <h2 class="product__title">{{ product.title }}</h2>
      <p class="product__description">{{ product.description }}</p>
      <p class="product__price">${{ product.price}}</p>
    </div>
  </div>

  <h3>Comments Section:</h3>
  <div class="container" *ngIf="filteredComments && filteredComments.length > 0">
    <div class="commentss" *ngFor="let comment of filteredComments">
      <h2 class="commentTitle">Name:  {{comment.username}} </h2>
      <p class="commetContent">{{comment.content}}</p>
      <div *ngIf="comment.isOwner" class="buttonsEditAndDelete">
        <button   class="edit" (click)="openEditModal(comment)">Edit</button>
        
        <button class="delete" (click)="deleteCommentar(comment._id)">Delete</button>
      </div>
    </div>
  </div>

  <h2>Add Comment Section</h2>

  <form #form="ngForm" (ngSubmit)="addComentHandler(form)">

    <div class="form-group">
      <label class="labelComment" for="commentText">Enter your comment here:</label>
      <textarea id="commentText" name="content" placeholder="Enter your comment here..." ngModel #contentInput="ngModel"
        maxlength="150"></textarea>
    </div>

    <button class="addComment" *ngIf="userService.isLoggedIn(); else notLoggedInMessage">Add Comment</button>

    <ng-template #notLoggedInMessage>
      <div class="not-logged-in-message">
        <p>Please <a [routerLink]="['/auth/login']">log in</a> to add a comment. If you don't have an account, <a [routerLink]="['/auth/register']">register</a> first.</p>
      </div>
    </ng-template>

  </form>


  <div class="modal" *ngIf="editingComment">
    <div class="modal-content">
      <h3>Edit Comment</h3>
      <form #editForm="ngForm" (ngSubmit)="submitEdit(editForm)">
        <div class="form-group">
          <label for="userEmail">Email:</label>
          <input type="email" id="userEmail" name="userEmail" 
          [(ngModel)]="editingComment.username" 
           readonly>
        </div>
        <div class="form-group">
          <label for="commentContent">Comment:</label>
          <textarea id="commentContent" name="commentContent" ngModel="commentContent" [(ngModel)]="editingComment.content"></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
      <button (click)="closeEditModal()">Close</button>
    </div>
  </div>


</div>











