.comment-section {
    margin-bottom: 20px;
}

.comment-section h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

.commentss {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.commentTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.commentContent {
    font-size: 14px;
    color: #333;
}