.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    gap: 20px;
  }
  
  .product {
    width: calc(33.33% - 20px); 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .product__img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .product__title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .product__description {
    margin-bottom: 10px;
  }
  
  .product__price {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .add-to-cart-button,
  .details-button {
      padding: 10px 20px; /* Променена стойност за padding */
      margin: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      transition: background-color 0.3s ease;
      display: inline-block; /* Добавен стил за да бутоните да се показват като inline-block */
      width: 150px; /* Задаване на еднаква ширина за бутоните */
      text-align: center; /* Центриране на текста */
  }
  
  .add-to-cart-button:hover,
  .details-button:hover {
    background-color: #0056b3;
  }
  
  .details-button {
    margin-left: 50px;
  }
  