    <section id="about">
        <div class="about-image">
            <img src="https://vision-shop.bg/image/cache/data/photo_2019-10-10_01-05-23-600x600.jpg" alt="Vision Project V" class="center-image">
            <h3>Welcome to Vision-shop.bg</h3>
        </div>
        <div class="about-text">
            <h2>A daily routine for your organisation - Project V
            </h2>
            <p>Vision Food Supplements</p>
            <p>
                Biologically active food supplements for the body - for the body, for the care and for the children. Proven products for balancing and improving your health, for well-being, self-esteem and beauty.
            </p>
            <p>Fast orders by phone: 0886 246 517</p>
        </div>
    </section>
    

    <section id="products">
        <h2>Our best selling products</h2>
        <p>Check out our latest products and explore our wide range of assortment.</p>
        <div class="products">
            <div class="product">
                <img src="https://vision-shop.bg/image/cache/data/photo_2019-10-10_01-05-23-600x600.jpg" alt="image" class="product__img">
                <div class="product__info">
                    <h2 class="product__title">Title 1</h2>
                    <p class="product__description">Description 1</p>
                    <p class="product__price">$19.99</p>
                    <button class="add-to-cart-button">Add to Cart</button>
                    <a class="details-button">Details</a>
                </div>
            </div>
            <div class="product">
                <img src="https://vision-shop.bg/image/cache/data/photo_2019-10-10_01-05-23-600x600.jpg" alt="image" class="product__img">
                <div class="product__info">
                    <h2 class="product__title">Title 2</h2>
                    <p class="product__description">Description 2</p>
                    <p class="product__price">$24.99</p>
                    <button class="add-to-cart-button">Add to Cart</button>
                    <a class="details-button">Details</a>
                </div>
            </div>
            <div class="product">
                <img src="https://vision-shop.bg/image/cache/data/photo_2019-10-10_01-05-23-600x600.jpg" alt="image" class="product__img">
                <div class="product__info">
                    <h2 class="product__title">Title 3</h2>
                    <p class="product__description">Description 3</p>
                    <p class="product__price">$29.99</p>
                    <button class="add-to-cart-button">Add to Cart</button>
                    <a class="details-button">Details</a>
                </div>
            </div>
        </div>
    </section>
    
<section id="contact">
    <h2>Contact Us</h2>
    <p>For inquiries or more information, please contact us at the following phone number: 123-456-789 or email us at: info@example.com</p>
</section>
