<div class="login">
  <form class="login__container" #form="ngForm" (ngSubmit)="login(form)">
      <h1>Sign In</h1>

      <div class="login__form">
          <h5>E-mail</h5>
          <input type="text" name="email" ngModel #inputEmail="ngModel" />

          <h5>Password</h5>
          <input type="password" name="password" ngModel #inputPassword="ngModel" />

          <button  class="login__signInButton">Sign In</button>
      </div>

      <p>
          By signing-in you agree to the eShop Website Conditions of Use & Sale. Please see our Privacy Notice, our Cookies Notice and our Interest-Based Ads Notice.
      </p>
  </form>
</div>
